.body
%h1#cs= 'Customer Support'
%p= 'We are here to help you sort out any problem you may have'
%br/

%p For any inquires contact the email below
%p help@me.com
%p Check the Directory if interested
%br/

.directory
  %h2= "Directory"
  %h5 JD Soteldo
  %p for inquires email: jd@help.com

  %h5 Mickey Chaves
  %p for inquires email: andres210201@gmail.com

  %h5 Omar
  %p for inquires email: omar_dp@outlook.es

.c_links
  = link_to "Go Back", :back
  %br/
  = link_to "Main Menu", "home#home"
  %br/
  - if current_user
    = link_to 'Sign Out', destroy_user_session_path, |
      method: :delete                                |
    %br/
  - else
    = link_to 'Sign In', new_user_session_path
    %br/
    = link_to 'Sign Up', new_user_registration_path
    %br/
