<h1 id="cs"><%= 'Customer Support' %></h1>
<p><%= 'We are here to help you sort out any problem you may have'%></p><br>
<p> For any inquires contact the email below </p>
<p> help@me.com </p>
<p>  Check the Directory if interested </p><br>

<h2><%= "Directory:" %></h2>
<%= "JD" %> <%= "Soteldo" %>
<p> "for inquires email: jd@help.com" </p>
<p> ---------------------------------------------- </p>

<%= "Mickey" %> <%= "Chaves" %>
<p> "for inquires email: andres210201@gmail.com" </p>
<p> ---------------------------------------------- </p>

<%= "Oumar" %> <%= "Negro" %>
<p> "for inquires email: omar_dp@outlook.es" </p>
<p> ---------------------------------------------- </p>


<%= link_to "Go Back", :back %>
<%= link_to "Main Menu", "home#home" %>

<% if current_user %>
  <%= link_to 'Sign Out', destroy_user_session_path,
    method: :delete%><br>

<% else %>
  <%= link_to 'Sign In', new_user_session_path %><br>
  <%= link_to 'Sign Up', new_user_registration_path %><br>

<% end %>
