<h1 id="cs"><%= 'Customer Support' %></h1>
<p><%= 'We are here to help you sort out any problem you may have'%></p><br>
<p> For any inquires contact the email below </p>
<p> help@me.com </p>
<p>  Check the Directory if interested </p><br>

<h2><%= "Directory:" %></h2>
<%= "JD" %> <%= "Soteldo" %>
<p> "for inquires email: jd@help.com" </p>
<p> ---------------------------------------------- </p>

<%= "Luis" %> <%= "Perez" %>
<p> "for inquires email: luisperez@help.com" </p>
<p> ---------------------------------------------- </p>

<%= "Carlos" %> <%= "Carrillo" %>
<p> "for inquires email: carlosc@help.com" </p>
<p> ---------------------------------------------- </p>

<%= "Leonel" %> <%= "Messi" %>
<p> "for inquires email: leonel@help.com" </p>
<p> ---------------------------------------------- </p>

<%= "Mickey" %> <%= "Chaves" %>
<p> "for inquires email: andres210201@gmail.com" </p>
<p> ---------------------------------------------- </p>

<%= "Oumar" %> <%= "Negro" %>
<p> "for inquires email: omar_dp@outlook.es" </p>
<p> ---------------------------------------------- </p>


<%= link_to "Main Menu", root_path %>
