<h1 id="home_title"> <%='Hi! We are here to help you improve your business'%> </h1>


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class='home_links'>
      <%= link_to "Check your IMT's", tables_path %><br>
      <%= link_to "Contact", contact_path %><br>
    </div>
    <% if current_user %>
      <%= link_to 'Sign Out', destroy_user_session_path,
        method: :delete%><br>

    <% else %>
      <%= link_to 'Sign In', new_user_session_path %><br>
      <%= link_to 'Sign Up', new_user_registration_path %><br>

    <% end %>

  </body>
</html>
