
<h1 id="home_title"> <%='Hi! We are here to help you improve your business'%> </h1>


<div class='home_link'>
  <%= link_to "Completed IMT's", completed_path%><br>
  <%= link_to "Check your IMT's", tables_path %><br>
  <%= link_to "Create New IMT", new_table_path %><br>
  <%= link_to "Contact", contact_path %><br>
</div>
