= form_for @table do |f|
  = f.label :product
  = f.text_field :product
  = f.label :description
  = f.text_field :description
  = f.label :qty
  = f.number_field :qty
  = f.label :price
  = f.number_field :price, step:"any"
  = f.label :total_price
  = f.number_field :total_price
  = f.hidden_field :user_id, value: current_user.id
  = f.submit
  %br/
