
  <%= link_to "Index", tables_path %><br>
  <%= link_to "Main Menu", root_path %><br>

<div class="completed_line">
  ---------------------------------------------------------------------------- </div>
<% @tables.each do |table| %>

  <%= table.product %><br>
  <%= table.description %><br>
  <%= table.qty %><br>
  <%= table.price %><br>
  <%= table.total_price %><br>
  <%= table.completed %><br>


<%= link_to "Show", table_path(table)%>
<%= link_to "Delete", table_path(table),
    method: :delete,
    data: {confirm: 'Sure you want to delete?'}%>

        <div class="completed_line">
-------------------------------------------------------------------------------
         </div>


  <% end %>
