<h1> Edit your IMT </h1>

<%= form_for @table do |f| %>
  <%= f.label :product %>
  <%= f.text_field :product %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :qty %>
  <%= f.number_field :qty %>

  <%= f.label :price %>
  <%= f.number_field :price, step:"any"%>

<%= f.submit %>
<%= link_to "Go Back", :back %>
<%= link_to "Main Menu", root_path %>


<% end %>
