%u
  %h2 Insights

%ul#product_table_show
%table{:border=>'2', :width=>'80%'}
  %thead
    %tr
      %th Product:
      %th Description:
      %th Quantity:
      %th Unit Price $
      %th Total Price $
      %th Completed?
  %tbody
    %tr
      %td #{@table.product}
      %td #{@table.description}
      %td #{@table.qty}
      %td #{@table.price}
      %td #{@table.total_price}
      %td #{@table.completed}

  .links
    - if @table.completed
      %br/
      = link_to "Go Back", :back
      %br/
      = link_to "Main Menu", home_path
    - else @table.completed = false
      =link_to "Edit", edit_table_path
      %br
      = link_to "Go Back", :back
      %br
      =link_to "Main Menu", home_path
